body {
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
}
section {
    width: 100%;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
#header {
    height: 100px;
    background-color: #333333;
}
#header h1 {
    float: left;
    line-height: 100px;
    vertical-align: middle;
    margin: 0 3%;
    color: white;
}
#header ul {
    float: right;
    margin-right: 3%;
}
#header ul li a {
    color: white;
}
#banner {
    background-color: #66bb33;
}
#banner div {
    position: relative;
    height: 300px;
}
#banner div ul {
    float: right;
    margin: 0px;
    position: absolute;
    bottom: 3%;
    right: 3%;
}
#banner ul li {
    padding: 10px;
    background-color: #b2dd99;
    color: #85b06c;
    border: 1px solid black;
}
#banner ul li.flag-active {
    background-color: #e0f0d5;
    padding-top: 25px;
}
#content #tab-wrapper {
    border: 1px solid #cccccc;
}
#content #tab-wrapper ul {
    margin-bottom: -1px;
}
#content ul {
    padding: 0px;
}
#content ul li {
    border: 1px solid #cccccc;
}
#content .tab li {
    padding: 15px 25px;
    background-color: #eeeeee;
    margin: 0px;
    border-radius: 15px 15px 0 0;
    list-style-type: none;
}
#content .tab .tab-active {
    background-color: white;
    border-bottom: 1px solid white;
}
#content .row {
    display: flex;
    justify-content: space-between;
}
#content .row li {
    padding: 80px;
    margin: 0px;
    font-size: 14px;
}
#content ul.first-row li {
    padding: 80px 103.8px;
}
#content ul.third-row li {
    padding: 80px 119px;
}
#footer {
    background-color: #666666;
    height: 80px;;
}
#footer p {
    color: white;
    text-align: center;
    line-height: 80px;
    margin: 0px;
    vertical-align: middle;
}
